# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Virtual Environment
# =========================
venv/
backend/venv/

# =========================
# Environment Variables
# =========================
.env
backend/.env

# =========================
# Database Files
# =========================
*.db

# =========================
# Logs
# =========================
*.log

# =========================
# Node / React
# =========================
node_modules/
frontend/node_modules/

# =========================
# VS Code / IDE
# =========================
.vscode/